# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are Summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. JavaScript
3. R. 
4. SQL.

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. NumPy
3. PyTorch

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by dividing by 60
Minutes=200
Hours=(60)
Minutes/Hours

3.3333333333333335

**Objectives:**
- List Popular Languages for Data Science
- List Commonly used Libraries for Data Science
- Create Arithmetic Expressions to multiply then add integers

## Author
Alexander Hotchkiss